* {
  font-family: Comic Sans MS;
  font-size: 1rem;
}

h1 {
  text-align: center;
  color: #6a873d;
  font-size: 2rem;
}

button {
  border: 3px solid #6a873d;
  outline: none;
  padding: 0 1rem;
  display: block;
  margin: 10px auto;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 3rem;
}

.modal .modal-content {
  background-color: #fff;
  padding: 1rem;
  width: 80%;
}

.modal-content img {
  max-width: 80%;
  max-height: 240px;
  display: block;
  margin: 0 auto;
}
